*.class

# Package Files #
*.jar
*.war
*.ear

/api/target/
/launcher/target/
/plugins/target/
/service/target/
/target/

/api/dist/
/launcher/dist/
/plugins/dist/
/service/dist/
/dist
/core/target/

.project
.settings/
api/.classpath
api/.project
api/.settings/
core/.classpath
core/.project
core/.settings/
plugins/.classpath
plugins/.project
plugins/.settings/
service/.classpath
service/.project
service/.settings/


